.Header {
    background-color: black;
}

#image {
    height: 50px;
}

.back {
    margin: 15px;
    cursor: pointer;
    float: right;
    color: whitesmoke;
}

@media (min-width: 360px) {
    .search {
        padding-top: 14px;
        float: right;
        color: whitesmoke;
    }
}

@media (min-width: 1024px) {
    .search {
        margin: 3px 15px 0 15px;
        float: right;
        color: whitesmoke;
    }
}