.images {
    height: 100%;
    float: left;
    padding-right: 10px;
}

@media (min-width: 320px) {
    .container {
        cursor: pointer;
        height: 300px;
        float: left;
        width: 100%;
        margin: 12px;
        border: 1px solid black;
    }
}

@media (min-width: 801px) {
    .container {
        cursor: pointer;
        height: 300px;
        float: left;
        width: 46%;
        margin: 12px;
        border: 1px solid black;
    }
}

@media (min-width: 1024px) {
    .container {
        cursor: pointer;
        height: 300px;
        float: left;
        width: 31%;
        margin: 12px;
        border: 1px solid black;
    }
}

p {
    margin: 5px;
}

h5 {
    margin: 12px;
}