.showContainer {
    margin: 20px 10px;
    padding-bottom: 120px;
}

.float {
    float: left;
    text-align: center;
}

.width14 {
    width: 14%;
}

.iframe {
    width: 90%;
    height: 700px;
    display: block;
    margin: auto;
}

.image {
    height: 120px;
    width: 100px;
}

.plot {
    width: 45%;
    float: right;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}